<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
        <add name="iisnode" path="build/app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
        <rules>
            <rule name="http to https redirect" stopProcessing="true">
                <match url ="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
            </rule>

            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                <match url="^build/app.js\/debug[\/]?" />
            </rule>

            <rule name="StaticContent">
                <action type="Rewrite" url="public{REQUEST_URI}" />
            </rule>

            <rule name="DynamicContent">
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                </conditions>
                <action type="Rewrite" url="build/app.js"/>
            </rule>
        </rules>

        <outboundRules>
            <rule name="change server header">
                <match serverVariable="RESPONSE_SERVER" pattern=".+" />
                <action type="Rewrite" value="dedo-degar-connector" />
            </rule>
        </outboundRules>

        </rewrite>

        <iisnode enableXFF="true"/>

        <security>
            <requestFiltering>
                <requestLimits maxQueryString="32768" />
                <hiddenSegments>
                    <remove segment="build" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>